src/Resources/ThirdParty/ExifTool/portable/** -text -diff
src/Resources/ThirdParty/ExifTool/win-x86/** -text -diff
src/Resources/ThirdParty/ExifTool/win-x64/** -text -diff
src/Resources/ThirdParty/ExifTool/licenses/** -text -diff
src/Resources/ThirdParty/TagLibSharp/**/*.dll -text -diff
src/Resources/ThirdParty/TagLibSharp/licenses/** -text -diff
src/Resources/ThirdParty/MKVToolNix/**/*.exe -text -diff
src/Resources/ThirdParty/MKVToolNix/**/*.xz -text -diff
src/Resources/ThirdParty/MKVToolNix/licenses/** -text -diff
